* {
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
}

.app-wrapper-content {
  max-width: auto;
  grid-area: content;
  background-color: rgb(234, 234, 234);
}